@media (max-width: 575.98px) {
    body {
        font-size: 12px;
    }

    #myFooter {
        font-size: 15px;
    }

    #myFooter .license {
        text-align: center;
    }

    #myFooter .social {
        font-size: 15px;
        justify-content: center;
        margin-top: 10px;
    }

    .offcanvas {
        width: 66.66%;
        /* Chiếm 2/3 màn hình */
        transform: translateX(-100%);
    }
    .toggle-icon {
        display: inline;
    }

    ul.collapse1,
    ul.collapse2,
    ul.collapse3 {
        display: none;
    }

    #headerRespon {
        display: block !important;
    }

    #headerRespon .logo b {
        font-size: 23px !important;
        align-items: center;
    }

    #headerRespon #icon-menu {
        font-size: 12px;
    }
    .iconCart,
    .iconUser,
    .iconMenu {
        background: #fff;
        border-radius: 50%;
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 24px;
        text-align: center;
        padding: 5px;
        color: black;
    }

    .navbar {
        border-radius: 50%;
    }
    #slider .carousel-item img {
        height: 150px !important;
        width: 100%;
    }
    .flag {
        background: #fff;
        padding: 10px;
        border-radius: 5px;
        margin: 5px 0px;
    }
    #service .icon img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    #featured-products .title b {
        top: 17px;
        left: 45px;
        font-size: 18px;
    }
    #bestseller {
        margin: 20px 0px;
    }
    #bestseller .title b {
        font-size: 18px;
    }
    #list-product li.item {
        width: 100%;
    }
    .wp-same-category li {
        width: 100%;
        padding: 0px 20px;
    }
    .owl-carousel-same-category .owl-item {
        display: none;
    }
    .owl-carousel-same-category .owl-item.active {
        display: block;
    }
    * {
        font-size: large;
    }

    .btn-more-info .view-mode {
        padding: 5px 20px;
    }
    #wp-detail-product .product_name {
        margin: 10px 0px;
        font-size: 20px;
    }
    #wp-detail-product .section-detail .show-product {
        padding: 10px;
    }
    #wp-detail-product .section-detail {
        padding: 0px;
    }
}
